{% extends "book/base.html" %}

{% load staticfiles %}

{% block main_div %}
<div id="player" class="col-md-6">
    <div  class="row">
        <video id="playerbox" class="video-js vjs-default-skin" >
        </video> 

    </div>
</div>
<div ng-controller="songlist">
    <div id="song-list-ang" class="col-md-2 list-group">
        <div id="song_head_[[ song.id ]]" ng-repeat="song in list">
            <a ng-click="loadSong([[ song.id ]])" class="list-group-item" href="#">[[ song.name ]]</a>
        </div>
    </div>
    <div class="col-md-4">
        <div id="song_snippets" class=" panel-group">
        <div ng-repeat="snip in snippets" class="panel panel-default">
            <div id="snip_[[ snip.id ]]" class="panel-body collapse" ng-class=" editing == snip.editing? 'in':''">
                <div class="col-md-4">
                    <label class="switch">
                        <input id="check_[[ snip.id ]]" ng-model="snip.active" type="checkbox" class="switch"> 
                      <span></span>  
                    </label>
                </div>
                <div class="col-md-8 input-group" >
                    <div >
                        <input type="number" class=" form-control" ng-if="!snip.editing" ng-model="snip.start">  </input>
                        <input type="number" class="btn btn-default form-control" ng-if="snip.editing" ng-model="currentStart" ></input>
                        <span class="input-group-btn" style="width:0px;"></span>
                        <input type="number" class="btn btn-default form-control" ng-if="snip.editing" ng-model="currentEnd" >  </input>    
                        <input type="number" class=" form-control" ng-if="!snip.editing" ng-model="snip.end" >  </input>
                    </div>
                    <span class="input-group-btn">
                        <button ng-click="editSnip([[ snip.id ]])" class="btn btn-default"> [[ state[0] ]] </button>
                        <button ng-click="saveSnip([[ snip.id ]])" class="btn btn-default"> [[ state[1] ]] </button>
                    </span>
                 </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div id="new_snip" class="panel-body collapse" ng-class=" editing ? 'in':''">
                <div class="col-md-8 input-group" >
                    <button type="button" class=" form-control" ng-click="currentStart = getCurrent()" >Start </button>
                    <span class="input-group-btn" style="width:0px;"></span>
                    <button type="button" class=" form-control" ng-click="currentEnd = getCurrent()"  > End</button> 
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

