{% extends "book/base.html" %}

{% load staticfiles %}

{% block main_div %}
<div id="player" class="col-md-6 panel panel-default">
    <div  class="panel-heading">
        <h4 class="panel-title"> <a  data-toggle="collapse" data-target="#song_body_{{ song.id }}" href="#"> {{ song.name }} </a> </h4>
    </div>
    <div  class="row panel-collpase panel-body ">
        <video id="player" class="video-js vjs-default-skin" controls preload="auto" width="640" heigth="264" data-setup="{}">
        </video> 
    </div>
</div>
<div ng-controller="songlist">
    <div id="song-list-ang" class="col-md-2 list-group">
        <div id="song_head_[[ song.id ]]" ng-repeat="song in list">
            <a ng-click="loadSong([[ song.id ]])" class="list-group-item" href="#">[[ song.name ]]</a>
        </div>
    </div>
    <div class="col-md-4">
        <div id="song_snippets" class=" panel-group">
        <div ng-repeat="snip in snippets" class="panel panel-default">
            <div id="snip_[[ snip.id ]]" class="panel-body collapse" ng-class=" editing == snip.editing? 'in':''">
                <div class="col-md-4">
                    <label class="switch">
                        <input id="check_[[ snip.id ]]" ng-model="snip.enabled" type="checkbox" class="switch"> 
                      <span></span>  
                    </label>
                </div>
                <div class="col-md-8 input-group" >
                    <input type="text" class=" form-control" placeholder="[[ snip.start ]]" > 
                    <span class="input-group-btn" style="width:0px;"></span>
                    <input type="text" class=" form-control" placeholder="[[ snip.end ]]" > 
                    <span class="input-group-btn">
                        <button ng-click="editSnip([[ snip.id ]])" class="btn btn-default"> [[ state[0] ]] </button>
                        <button ng-click="saveSnip([[ snip.id ]])" class="btn btn-default"> [[ state[1] ]] </button>
                    </span>
                 </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

